{% extends "./layouts/base.twig" %}
{% block title %}
    Todo List 
{% endblock %}
{% block content  %}
    <h1>Tasks</h1>
        <table class="mb-2 list_table">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th rowspan="2">Actions</th>
            </tr>
            <tbody>
                {% for key,value in data %}
                <tr>
                    <td>{{ value.id }}</td>
                    <td>{{ value.title }}</td>
                    <td>{{ value.description }}</td>
                    <td>{{ value.created_at }}</td>
                    <td>{{ value.updated_at }}</td>
                    <td>
                        <button class="action-btn edit_button" data-id={{value.id}}>EDIT</button>
                        <button class="action-btn delete_button"  data-id={{value.id}}>DELETE</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="card_mobile">
            {% for key,value in data %}
                <div class="card">
                    <div class="container">
                        <p class="card_task_title">{{ value.title }}</p>
                        <p class="card_task_desc">{{ value.description }}</p>
                    </div>
                     <div class="card_actions">
                        <span class="action-btn edit_button" data-id={{value.id}}><img src="./assets/img/edit.png" width="15"/> EDIT</span>
                        <span class="action-btn delete_button" data-id={{value.id}}><img src="./assets/img/delete.png" width="15"/> DELETE</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% include "pagination.twig"  %}

    {% include "list_scripts.twig" %}

{% endblock %}